<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
</head>
<!--<head>-->
<!--    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico"/>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title th:text="#{index.page.title}">CryptoMaven</title>-->

<!--    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"-->
<!--          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>-->

<!--    <script src="../static/js/jquery-2.1.4.min.js"-->
<!--            th:src="@{/js/jquery-2.1.4.min.js}"></script>-->

<!--    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>-->
<!--    <style>-->
<!--    ul {   list-style-type: none;-->
<!--  margin: 0;-->
<!--  padding: 0;}-->
<!--</style>-->
<!--</head>-->
<body>
<div class="container" th:replace="layout :: navbar">
    <div>NAVBAR</div>
</div>

<div class="jumbotron" th:replace="layout :: jumbotron">
    <div class="container">
        <h1>CryptoMaven</h1>
        <p class="lead" th:text="#{index.coins.tagline}">Tag line</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{index.coins.headline}">BITCOIN RESEARCH AND ANALYSIS CONSOLE</h1>
        </div>
    </div>
    <div class="row">
        *
        <a href="user.html" th:href="@{/user/1}">
            Thomas Maestas *
        </a>
    </div>
    <div class="row coin-list list">
        <div class='row coin-list list'>
            <div th:each="product,it : ${products}">
                <div th:if="${(it.count gt 0 and it.count lt 4)}">
                    <div th:replace="fragments/productdiv :: productdiv">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row coin-list list">
        <div class='row coin-list list'>
            <div th:each="product,it : ${products}">
                <div th:if="${(it.count gt 3 and it.count lt 7)}">
                    <div th:replace="fragments/productdiv :: productdiv">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row coin-list list" th:remove="all">
        <div class="col-md-4">
            <div class="coin-listing">
                <div class="row">
                    <a href="product.html" th:href="@{/product/1}">
                        <div class="col-lg-12">
                            <div class="coin-box-image-container">
                                <img role="presentation"
                                     src="../static/images/TMMmoonscape_450.jpg"
                                     th:src="@{images/TMMmoonscape_450.jpg}"
                                     class="coin-box-image"   />
                            </div>
                            <div class="coin-listing-title">
                                Introduction
                            </div>
                            <div class="coin-listing-subtitle">
                                Introductory Coin
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row coin-listing-extra-info col-xs-12">
                    <div class="col-xs-8">
                        <img align="left" alt="Thomas Maestas"
                             src="../static/images/profile.jpg"
                             th:src="@{images/profile.jpg}"
                             class="img-circle"/>
                        <div class="small coin-user-name">
                            Thomas Maestas
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="small coin-price">
                            FREE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="coin-listing">
                <div class="row">
                    <a data-role="coin-box-link" href="product.html" th:href="@{/product/4}">
                        <div class="col-lg-12">
                            <div class="coin-box-image-container">
                                <img role="presentation"
                                     src="../static/images/tmm4.png"
                                     th:src="@{images/tmm4.png}"
                                     class="coin-box-image"/>
                            </div>
                            <div class="coin-listing-title">
                                  Core
                            </div>
                            <div class="coin-listing-subtitle">
                                Coin Fundamentals
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row coin-listing-extra-info col-xs-12">
                    <div class="col-xs-8">
                        <img align="left" alt="Thomas Maestas"
                             src="../static/images/profile.jpg"
                             th:src="@{images/profile.jpg}"
                             class="img-circle"/>
                        <div class="small coin-user-name">
                            Thomas Maestas
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="small coin-price">
                            $99
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="coin-listing">
                <div class="row">
                    <a data-role="coin-box-link" href="product.html" th:href="@{/product/5}">
                        <div class="col-lg-12">
                            <div class="coin-box-image-container">
                                <img role="presentation"
                                     src="../static/images/tmm3.png"
                                     th:src="@{images/tmm3.png}"
                                     class="coin-box-image"/>
                            </div>
                            <div class="coin-listing-title">
                            Core Advanced
                            </div>
                            <div class="coin-listing-subtitle">
                              Core
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row coin-listing-extra-info col-xs-12">
                    <div class="col-xs-8">
                        <img align="left" alt="Thomas Maestas"
                             src="../static/images/profile.jpg"
                             th:src="@{images/profile.jpg}"
                             class="img-circle"/>
                        <div class="small coin-user-name">
                            Thomas Maestas
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="small coin-price">
                            $99
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row coin-list list" th:remove="all">
        <div class="col-md-4">
            <div class="coin-listing">
                <div class="row">
                    <a data-role="coin-box-link" href="product.html" th:href="@{/product/6}">
                        <div class="col-lg-12">
                            <div class="coin-box-image-container">
                                <img role="presentation"
                                     src="../static/images/shadowbox.png"
                                     th:src="@{images/shadowbox.png}"
                                     class="coin-box-image"/>
                            </div>
                            <div class="coin-listing-title">
                            Ops
                            </div>
                            <div class="coin-listing-subtitle">
                                 Enterprise
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row coin-listing-extra-info col-xs-12">
                    <div class="col-xs-8">
                        <img align="left" alt="Thomas Maestas"
                             src="../static/images/profile.jpg"
                             th:src="@{images/profile.jpg}"
                             class="img-circle"/>
                        <div class="small coin-user-name">
                            Thomas Maestas
                        </div>

                    </div>
                    <div class="col-xs-4">
                        <div class="small coin-price">
                            $15
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="coin-listing">
                <div class="row">
                    <a data-role="coin-box-link" href="product.html" th:href="@{/product/2}">
                        <div class="col-lg-12">
                            <div class="coin-box-image-container">
                                <img role="presentation"
                                     src="../static/images/TMMmoonscape_450.jpg"
                                     th:src="@{images/TMMmoonscape_450.jpg}"
                                     class="coin-box-image"/>
                            </div>
                            <div class="coin-listing-title">
                               Core Ultimate
                            </div>
                            <div class="coin-listing-subtitle">
                             Coins
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row coin-listing-extra-info col-xs-12">
                    <div class="col-xs-8">
                        <div class="small coin-bundle">
                            5 Coin Bundle
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="small coin-price">
                            $147
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="coin-listing">
                <div class="row">
                    <a data-role="coin-box-link" href="product.html" th:href="@{/product/3}">
                        <div class="col-lg-12">
                            <div class="coin-box-image-container">
                                <img role="presentation"
                                     src="../static/images/dailytech.png"
                                     th:src="@{images/dailytech.png}"
                                     class="coin-box-image"/>
                            </div>
                            <div class="coin-listing-title">
                                Thyme
                            </div>
                            <div class="coin-listing-subtitle">
                                Rocking out
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row coin-listing-extra-info col-xs-12">
                    <div class="col-xs-8">
                        <img align="left" alt="Thomas Maestas"
                             src="../static/images/profile.jpg"
                             th:src="@{images/profile.jpg}"
                             class="img-circle"/>
                        <div class="small coin-user-name">
                            Thomas Maestas
                        </div>

                    </div>
                    <div class="col-xs-4">
                        <div class="small coin-price">
                            $15
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div  th:replace="layout :: footer">
    <p>footer</p>
</div>

</body>
</html>