<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>


    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico"/>
    <meta charset="UTF-8"/>
    <title th:text="#{index.page.title}">blog.cryptoMaven</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>
    <link    th:href="@{/css/app.css}" rel="stylesheet"  media="screen" />

    <style th:remove="all">
    </style>


    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Technology Blog: Musing Blockchain | Web Dev Affairs | Sociology Tomorrow! Latest Developments in Technology Culture,
  Technology News, Tech Tools, Tech Talk Too! I explore daily tech topics on one of my three tech
   blog topics: Blockchain, Web Dev, and Sociology in Tech.  DailyTech is both a public blog, as it is my own research tool for both subject content and app design" name="description" />
    <meta content="Thomas Maestas, Thomas M Maestas, data analysis and visualization, sociology statistical tests"
          name="keywords" />
    <link rel="manifest" href="/manifest.json"/>
    <meta content="Thomas M. Maestas" name="author" />


    <script src="../static/js/vendor/d3v4.min.js"  th:src="@{/js/vendor/d3v4.min.js}"></script>
    <script src="../static/js/vendor/jquery.2.1.min.js" th:src="@{/js/vendor/jquery-2.1.4.min.js}"></script>
</head>



<!--<body ng-controller="IndexController" class="with-top-navbar">-->
<body class="with-top-navbar">
<div id="dailyNav"  class="container">

    <div>

    </div>
    <!--end dailyNav -->

        <!-- /.container -->

        <div class="row"  id="foreground">
            <div class="col-md-12" id="view">



                <div class="container pt-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card card-profile">

                                <div id="planets">
                                    <div >
                                        <p class="lead" th:text="#{index.coins.tagline}">Tag line</p>

                                    </div>
                                    <form class="form">                    <br />
                                        <input type="radio" name="reference" id="ref-annulus"/>
                                        <label for="ref-annulus">Orbit📦 </label>
                                        <br />
                                        <input type="radio" name="reference" id="ref-planet" value="checked"/>
                                        <label for="ref-planet">Planets✨</label>
                                        <br />
                                        <input type="radio" name="reference" id="ref-sun"/>
                                        <label for="ref-sun">Sun</label><span>🔥</span>

                                    </form>


                                </div>


                                <button id="mmodalBtn" class="mbutton title   hover">
                                    <span id="b-header" > </span>
                                    <h6 class=" subdailytech white hover" title="Social Data &amp; Statistics ">
                                        <span class="cover  ">SOCIOLOGY TOMORROW!</span>
                                    </h6>
                                    <h6 class="            subdailytech white hover">
                                        <span class="cover steel">WEB DEV &nbsp; AFFAIRS &nbsp; </span>
                                    </h6>
                                    <h6 class=" subdailytech white" title="Machine Learning">
                                        <span class="cover ">A.I.NOW</span>
                                    </h6>
                                    <h6 class="subdailytech white hover"
                                        title="About Blockchain Technologies in our Daily Lives">
                                        <span class="cover steel">QUANTUM DATA</span>
                                    </h6>
                                    <h6 class="subdailytech white hover"
                                        title="About Blockchain Technologies in our Daily Lives">
                                        <span class="cover">MUSING BLOCKCHAIN</span>
                                    </h6>
                                    <span class="btn btn-primary"><em>READING MODAL</em></span>
                                </button>

                                <div id="map0">
                                    <div class="map0"></div>
                                    <div class="map0"></div>
                                </div>
                                <script src="../static/js/planets.js" th:src="@{/js/planets.js}"></script>

                                <div class="card-header" >

                                    <!-- <div ng-view class="view"></div> -->
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div id="msimpleModal" class="mmodal">
                                <div class="mmodal-content">
                                    <span class="mcloseBtn"> &nbsp;&times; &nbsp; </span>
                                    <div class="mmodal-header">

                                    </div>
                                    <div class="mod-behave ">
                                        <div id="top-mod"></div>

                                        <div id="paragraph-mod-may21"></div>
                                        <div id="paragraph-may19-mod"></div>
                                        <div id="paragraph-march19-mod"></div>
                                        <div id="paragraph-jan19-mod"></div>
                                        <div id="paragraph-dec-mod"></div>
                                        <div id="paragraph-nov-mod"></div>
                                        <div id="paragraph-oct-mod"></div>
                                        <div id="paragraph-sep-mod"></div>
                                        <div id="paragraph-aug-mod"></div>
                                        <div id="paragraph-july-mod"></div>
                                        <div id="paragraph-june-mod"></div>
                                        <div id="paragraph-may-mod"></div>
                                        <div id="paragraph-apr-mod"></div>
                                        <div id="paragraph-mar-mod"></div>
                                        <div id="paragraph-feb-mod"></div>

                                    </div>
                                    <div class="mmodal-footer">
                                        <footer>&copy; 2018 All Rights Reserved. &nbsp;|
                                            <span href="http://www.thomasmaestas.net"
                                                  style="color:darkblue;text-decoration:none;"> thomasmaestas.net |</span>
                                            <span href="mailto:thomas@ourdailytech.com"
                                                  style="color:darkblue;text-decoration:none;">  thomas@ourdailytech.com &nbsp;|</span>
                                            <span href="http://www.thomasmaestas.net/profile.html#contactme"
                                                  title="Contact Information: thomasmaestas.net">   Contact Information</span>
                                        </footer>
                                    </div>

                                </div>
                            </div>


                            <ul class="list-group media-list media-list-stream mb-4" id="center-col">

                                <li>
                                    <div id="tech">
                                        <div  class="view"></div>
                                        <!--                                    <div ng-if="$scope.array">-->
                                        <div>
                                            <!-- <div ng-repeat="p in array" class="blogDivMod">
                                                <hr />
                                                <div id="mod_{{p.did}}"></div>
                                                <span href="#top-mod"><button>Top</button></span>
                                                <h4 class="title dailytech longtitle">OUR DAILY TECH:</h4>
                                                <h5 id="cat3" class="  subdailytech">{{p.cat3}}</h5>
                                                <p id="author" class="  author">{{p.author}}</p>
                                                <h6 id="date" class="  chapternumber">{{p.date}}</h6>
                                                <h6 id="title" class="dailytitle chapternumber">{{p.title}}</h6>
                                                <br />
                                                <div id="post">{{p.post}}</div>
                                                <div id="blogcite">{{p.blogcite}}</div>
                                            </div> -->

                                        </div>
                                        <div class="mod-behave ">
                                            <div id="top"></div>

                                            <div id="jan19"></div>
                                            <div id="paragraph-may21"></div>
                                            <div id="paragraph-March20"></div>
                                            <div id="paragraph-may19"></div>
                                            <div id="paragraph-march19"></div>
                                            <div id="paragraph-jan19"></div>
                                            <div id="paragraph-dec"></div>
                                            <div id="paragraph-nov"></div>
                                            <div id="paragraph-oct"></div>
                                            <div id="paragraph-sep"></div>
                                            <div id="paragraph-aug"></div>
                                            <div id="paragraph-july"></div>
                                            <div id="paragraph-june"></div>
                                            <div id="paragraph-may"></div>
                                            <div id="paragraph-apr"></div>
                                            <div id="paragraph-mar"></div>
                                            <div id="paragraph-feb"></div>

                                        </div>
                                        <!-- blog-text.js  BEGINS HERE -->


                                        <div id="febarchive">
                                        </div>
                                    </div>
                                </li>
                                <style>
                                    #lambda-posts {
                                        max-height: 400px;
                                    }
                                </style>


                                <!-- <div id="lambda-posts" class="lambda-posts">
                                    Title {{titleLambda}} endtitle
                                    <div>POSTS-FILTER</div>
                                    <button ng-click="postBlogs()">Button POSTS </button>
                                    <legend> </legend>
                                </div> -->

                            </ul>


                        </div>

                        <div class="col-lg-3">
                            <div class="card mb-4 ">
                                <div class="card-block">

                                    <div id="marsreader" class="marsreader">

                                        <pre id="reqObject"></pre>
                                        <img id="apod_img_id" class="zoom" />

                                        <iframe id="apod_vid_id" type="text/html" width="426" height="262"
                                                frameborder="0"></iframe>

                                        <p id="copyright"></p>
                                        <h6 class="dailytech">Twython NASA API </h6>
                                        <h5 id="apod_title"></h5>
                                        <p id="apod_explaination"></p>
                                        <pre id="returnObject"></pre>

                                    </div>

                                    <div class="media-body thesis">

                                        <div id="message">

                                        </div>

                                    </div>
                                    <div id="force">
                                        <canvas class="canvas" height="700px"></canvas>

                                    </div>

                                    <div id="d-button">


                                        🔥🔥🔥🔥🔥🔥🔥
                                        <button class="btn btn-primary">

                                        </button> 🔥🔥🔥🔥🔥🔥🔥🔥🔥
                                    </div>
                                    <!--end dbutton-->

                                </div>
                                <link  th:href="@{/css/calc.css}" rel="stylesheet"  media="screen" />

                                <div id="calc"></div>
                                <script src="../static/js/calc.js" th:src="@{/js/calc.js}"></script>
                                <!-- <script src="dist/calc-deux.js"></script> -->
                                <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
                                <script src="../static/js/force.js" th:src="@{/js/force.js}"></script>
                            </div>
                        </div>



                    </div>
                    <!-- end card card-link-list -->

                </div>

            </div>

    </div>

    <!-- /.container -->



<script src="../static/js/force.js"
        th:src="@{/js/force.js}"></script>
<!--<script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.min.js"></script>-->
<!--<script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular-route.min.js"></script>-->


<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js"></script>-->

<script src="../static/js/vendor/tether.min.js" th:src="@{/js/vendor/tether.min.js}"></script>
<script src="../static/js/vendor/popper.min.js" th:src="@{/js/vendor/popper.min.js}"></script>
<script src="../static/js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
</div>

</body>

</html>