<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout :: header"></head>

	<body>

	<nav th:replace="layout :: navbar"></nav>

		<div class="container">
			<br />        <br />
			<br />
			<hr/>
			<h3>User Directory</h3>
			<hr/>

			<!--  Add New User Button -->
			<a th:href="@{/user/new}"
				class="btn btn-primary btn-sm mb-3"> 
				Add User 
			</a> 
			<br></br>

			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
                        <th>Go</th>
                        <th>ID</th>
                        <th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Products</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aUser : ${users}">

                        <td>
                            <a th:href="@{/user/update(id=${aUser.id})}"
                               class="btn btn-info btn-sm">
                                Update
                            </a>

                            <a th:href="@{/user/delete(id=${aUser.id})}"
                               class="btn btn-danger btn-sm">
<!--                               onClick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">-->
                                Delete
                            </a>

                        </td>
                        <td th:text="${aUser.id}"/>
						<td th:text="${aUser.firstName}"/>
						<td th:text="${aUser.lastName}"/>
						<td th:text="${aUser.email}"/>
						<td th:text="${aUser.products}"/>


					</tr>
				</tbody>

			</table>
		</div>
	<div  th:replace="layout :: footer">
		<p>footer</p>
	</div>
	</body>

</html>
