<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout :: header">
	</head>

	<body>

	<nav th:replace="layout :: navbar"></nav>

		<div class="container">
			<h3>Products Directory</h3>
			<hr/>

			<!--  Add New Product Button -->
			<a th:href="@{/product/new}"
				class="btn btn-primary btn-sm mb-3">
				New Product
			</a>
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
                        <th>Coin ID</th>
						<th>Coin Name</th>
						<th>Coin Symbol</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aProduct : ${products}">
                        <td th:text="${aProduct.id}"/>
						<td th:text="${aProduct.coinName}"/>
						<td th:text="${aProduct.symbol}"/>
					</tr>
				</tbody>

			</table>
		</div>
	</body>

</html>