<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout :: header">
	</head>

	<body>

	<nav th:replace="layout :: navbar"></nav>

		<div class="container">
			<br />        <br />
			<br />
			<hr/>
			<h3>Products Directory</h3>
			<hr/>

			<!--  Add New Product Button -->
			<a th:href="@{/product/new}"
				class="btn btn-primary btn-sm mb-3">
				New Product
			</a>
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Go To</th>
                        <th>Coin ID</th>
						<th>Coin Name</th>
						<th>Coin Symbol</th>
						<th>Subscribers</th>
						<th>Subscriber</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aProduct : ${products}">

						<td>
							<a th:href="@{/product/update(id=${aProduct.id})}"
							   class="btn btn-info btn-sm">
								Update
							</a>

							<a th:href="@{/product/delete(id=${aProduct.id})}"
							   class="btn btn-danger btn-sm">
								<!--                               onClick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">-->
								Delete
							</a>

						</td>
                        <td th:text="${aProduct.id}"/>
						<td th:text="${aProduct.coinName}"/>
						<td th:text="${aProduct.symbol}"/>
						<td th:text="${aProduct.users}"/>
						<td th:text="${aProduct.user.firstName}"/>
					</tr>
				</tbody>

			</table>
		</div>
	<div  th:replace="layout :: footer">
		<p>footer</p>
	</div>
	</body>

</html>