<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout :: header"></head>

	<body>

	<nav th:replace="layout :: navbar"></nav>

		<div class="container">
			<h3>User Directory</h3>
			<hr />

			<!--  Add New User Button -->
			<a th:href="@{/new}"
				class="btn btn-primary btn-sm mb-3"> 
				Add User 
			</a> 
			<br></br>

			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aUser : ${users}">
						<td th:text="${aUser.firstName}"/>
						<td th:text="${aUser.lastName}"/>
						<td th:text="${aUser.email}"/>
					</tr>
				</tbody>

			</table>
		</div>
	</body>

</html>
