<!--<!DOCTYPE html>-->

<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--	<head th:replace="layouts :: head"> -->
<!--	</head>-->
<!--	-->
<!--	<body>-->
<!--	-->
<!--	<nav th:replace="layouts :: navbar"></nav>-->

<!--		<div class="container">-->
<!--			<h3>Products Directory</h3>-->
<!--			<hr>-->
<!--			-->
<!--			&lt;!&ndash;  Add New Product Button &ndash;&gt;-->
<!--			<a th:href="@{/products/new}"-->
<!--				class="btn btn-primary btn-sm mb-3"> -->
<!--				New Product -->
<!--			</a>-->
<!--			<table class="table table-bordered table-striped">-->
<!--				<thead class="thead-dark">-->
<!--					<tr>-->
<!--						<th>Product Name</th>-->
<!--						<th>Product Stage</th>-->
<!--					</tr>-->
<!--				</thead>		-->
<!--				<tbody>-->
<!--					<tr th:each="aProduct : ${products}">-->
<!--						<td th:text="${aProduct.coinName}"/>-->
<!--&lt;!&ndash;						<td th:text="${aProduct.stage}"/>&ndash;&gt;-->
<!--					</tr>-->
<!--				</tbody>-->
<!--			-->
<!--			</table>-->
<!--		</div>-->
<!--	</body>-->
<!--	-->
<!--</html>-->