<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header">
</head>
<body>

<div th:replace="layout :: navbar">
    <div>NAVBAR</div>
</div>
<div class="jumbotron" th:replace="layout :: jumbotron">
    <div class="container">
        <h1>Crypto Maven</h1>
        <p class="lead" th:text="#{index.users.tagline}">Online Members</p>
    </div>
</div>

<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${(user.firstName) + ' ' + (user.lastName)}">Crypto Maven - Member Name</h1>
        </div>
    </div>
    <div class="row coin-listing">
        <div class="col-md-6">
           <div class="row">
               <div class="col-md-12">
                   <img src="../static/images/TMMmoonscape_450.jpg"
                        th:src="@{'/images/'+${user.image}}"
                        class="center-block"/>
               </div>
           </div>
            <div class="row coin-listing-extra-info col-xs-12">
                <div class="col-xs-8">
                    <img align="left" alt="Thomas Maestas"
                         src="../static/images/profile2.jpg"
                         th:src="@{'/images/'+${user.image}}"
                         class="img-circle"/>
                    <div class="small coin-user-name" th:text="${(user.firstName)
                                                          + ' ' + (user.lastName)}">
                        User Name
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="small coin-price" th:text="${user.email}">
                        Email
                    </div>
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="small coin-price" th:text="${'Member since: '+(user.dateCreated)}">
                   Member Since
                </div>
            </div>
        </div>
        <div class="col-md-6">
             <div>
<!--                 <h2 th:text="${user.bio}">User BIO</h2>-->
<!--                 <p th:text="${user.bio}">-->
                 <p> USER BIO <br />
                     Adipiscing magna vestibulum fringilla tristique ad a primis ante mi inceptos condimentum curabitur
                     curabitur eu sed nullam ridiculus nunc montes id nostra dui inceptos scelerisque posuere ipsum mus.
                     A scelerisque libero viverra eu condimentum mollis suscipit mi consectetur semper dis ipsum nisi
                     in nullam aliquet iaculis in eros euismod bibendum. Adipiscing volutpat fringilla bibendum duis a
                     maecenas eu lorem accumsan fames sem faucibus ad mauris aliquam nam. Torquent amet adipiscing fusce
                     fringilla venenatis tristique scelerisque natoque malesuada nostra duis nam augue ridiculus
                     pulvinar ultrices laoreet in condimentum justo id. Nascetur condimentum maecenas magna metus curae
                     est odio ad dui fames quam a aenean consequat faucibus nostra lorem adipiscing vestibulum
                     ullamcorper etiam consectetur. </p>
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-6 col-md-4">
            <p> UPDATE PROFILE<br />
                Adipiscing magna vestibulum fringilla tristique ad a primis ante mi inceptos condimentum curabitur
                curabitur eu sed nullam ridiculus nunc montes id nostra dui inceptos scelerisque posuere ipsum mus.
               </p>
        </div>
    </div>
</div>
<div  th:replace="layout :: footer">
    <p>footer</p>
</div>
</body>
</html>