<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<security:http>
		<security:intercept-url pattern="/Login" access="isAnonymous()"/>
		<security:intercept-url pattern="/" access="isAnonymous()"/>
		<security:intercept-url pattern="/Home" access="isAuthenticated()"/>
		<security:intercept-url pattern="/Products" access="isAuthenticated()"/>
		<security:form-login login-page="/Login" login-processing-url="/Login"
		default-target-url="/Home" authentication-failure-url="/Login?error=true"
		username-parameter="username" password-parameter="password"
		/>
		<security:csrf disabled="true"/>
		<security:logout logout-url="/Logout" logout-success-url="/Login"/>
	</security:http>

	<bean id="userDetailsServiceImpl" class="com.demo.security.UserDetailsServiceImpl"></bean>
	
	<bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="userDetailsServiceImpl"></property>
	</bean>
	
	<bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
		<constructor-arg name="providers">
			<list>
				<ref bean="authenticationProvider"/>
			</list>
		</constructor-arg>
	</bean>
	
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsServiceImpl">
			<security:password-encoder hash="plaintext"></security:password-encoder>
		</security:authentication-provider>
	</security:authentication-manager>

</beans>